.header__below{
    margin-top: 64px;
    background-color: #232F3E;
    padding: 4px;
}
.header__below ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.header__below ul li{
    margin-left: 18px;
    color: rgb(255, 255, 255);
    font-size: 14.5px;
    font-weight: 500;
}
.header__below ul li:first-child{
    font-size: 25px;
    margin-top: 4px;
    margin-right: -15px;
}
@media (max-width: 768px) {
   .header__below{
    margin-top: 143px;
   }
   .header__below ul li{
    display: none;
   }
   .header__below ul li:first-child{
    display: none;
   }
    .header__below ul li:first-child{
       margin-left: 10px;
       font-size: 30px;

    }
    
}