.upperFooter_Container{
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 10px ;
    margin: 0px auto 0px auto;
}
.upperFooter_logo img{
    width: 100px;
    margin-top: 20px;
}
.upperFooter_Buttons  button{
    margin-left: 30px;
    width: 120px;
    padding: 7px 0px;
    background-color: transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    font-size: 12.5px;
    position: relative;
}

.globe{
    position: absolute;
    top: 6px;
    left: 15px;
    width: 15px;
    height: 15px;
    color: #fff;
}
.currency{
    position: absolute;
    top: 6px;
    left: 1px;
    width: 15px;
    height: 15px;
    color: #fff;
}
.upperFooter_Buttons img{
    width: 24px;
    margin-right: 5px;
}

@media (max-width : 768px) {
    .upperFooter_Container{
        flex-direction: column;
        gap: 4px;
    }
    .upperFooter_Buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .upperFooter_logo img{
        width: 80px;
    }
    .upperFooter_Buttons button{
        width: 100px;
        font-size: 10.5px;
        margin-left: 0px;
    }
    .globe{
        left: 10px;
    }
    .currency{
        left: 0px;
    }
    .upperFooter_Buttons img{
        width: 20px;
    }
}