.order_container{
    background-color: #fff;
    max-width: 960px;    
    margin: 20px auto;
    border-radius: 10px;
}
.order_items{
    padding: 10px 0px 10px 120px;
}
.order_container h2{
    text-align: center;
    padding-top: 25px;
    margin-bottom: -15px;
}
.order_container .id{
    padding: 20px;
    font-weight: 600;
}
.order_container img{
    width: 150px;
    height: 150px;
}
.order_item{
    margin-top: 20px;
}
.empty_order{
    text-align: center;
    padding-bottom: 50px;
}
.order_item_hr{
    color: #bfac40;
    border: 1.5px solid;
    width: 90%;
}
@media (max-width : 768px) {
    .order_items{
        padding: 10px 0px 10px 0px;
    }
    .order_item_hr{
        width: 100%;
    }
    .order_container{
        margin: 30px auto;
    }
}