.category{
    position: absolute;
    top: 60%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0 30px;
}
@media (max-width : 768px) {
    .category{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        left: 5%;
        top: 43%;
        bottom: 40%;
        margin-bottom: 500px;
        gap: 15px;
    }
}
@media (max-width : 420px) {
    .category{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        left: -4%;
        top: 43%;
        bottom: 40%;
        margin-bottom: 500px;
        gap: 15px;
    }
}