.catagoryCard{
    width: 290px;
    height: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 5px 10px;
}
.catagoryCard a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}
.catagoryCard p{
    color: rgb(70, 70, 238);
    font-size: 13px;
    margin: 5px;
    font-weight: 500;
}
.catagoryCard h2 {
    margin-top: 10px;
}
.catagoryCard__image img{
    width: 100%;
    height: 280px;
    margin: 10px 0;
    border-radius: 3px;
}

@media (max-width : 768px) {
    .catagoryCard{
        width: 250px;
        height: 100%;
    }   
    .catagoryCard__image img{
        height: 200px;
    }
}