.category{
    position: absolute;
    top: 60%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0 30px;
}
@media (max-width : 768px) {
    .category{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        top: 30%;
        margin: 5px;
        gap: 15px;
    }
}